@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img class="img-fluid" width="100px" height="15px" src="~/Content/Images/logo_prefeitura.png" alt="App Logo">
    <hr />
    <h1 class="text-info">SisPms</h1>
    <p class="lead">Software desenvolvido com o intuito de facilitr processo administrativos e gerir dados de forma ágil</p>
    <p><a href="#" class="btn btn-primary btn-lg">Aprenda &raquo;</a></p>
</div>



