<div class="content-heading">
    <div>
        @Html.ActionLink("Voltar", "Index")
    </div>
</div>
<div class="alert alert-success" role="alert">
    <strong>Informações Salvas!</strong>Terceirizado remanejado com sucesso.
</div>

<h1>  @Html.ActionLink("Listar Encaminhamentos ", "ListarEncaminhamentos")</h1>

