<div class="content-heading">
    <div>
        <button class="mb-1 btn btn-secondary" type="button">@Html.ActionLink("Voltar", "Index")</button>
    </div>
</div>
<div class="alert alert-success" role="alert">
    <strong>Informações Salvas!</strong>Terceirizado remanejado com sucesso.
</div>

